#back{
    background-color: black;
}

#home{
    color:white;
        background-color: rgb(22,22,22);
        min-width: 300px;
        max-width: 300px;
        max-height: 400px;
        min-height: 400px;
        border-radius: 20px;
}

#heading{
    color: rgba(255, 0, 0, 0.644);
    font-size: 20px;

}

#heading:hover{
    color: rgba(250, 246, 0, 0.829);
}
#name{
    min-width: 130px;
    max-width: 130px;
    min-height: 20px;
    max-height: 20px;
    margin-top: 3px;
    padding-left: 12px;
}

#button{
    color: rgb(0, 0, 0);
    background-color: wheat;
    min-width: 105px;
    max-width: 105px;
    max-height: 25px;
    min-height: 25px;
    border-radius: 30px;

}

#button:hover{
    color: rgb(4, 0, 255);
    background-color: rgb(255, 255, 255);
}
#back{
    color: red;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

#back:hover{
    background-color: rgba(255, 255, 255, 0.829);
    color: black;
}